.row-centered{
	text-align: center;
}
.gems{
	border: none;
	padding-bottom: 20px;
}
.gems:focus {
	outline:0;
	border: none;
	background-color: unset;
}
.gems:active {
outline: none;
border: none;
background-color: unset;
}
.gems:visited {
	outline: none;
	border: none;
	background-color: unset;
}
.gems:hover {
	background-color: unset;
}
.panel{
	width: auto;
}
.glpanel{
	width: 143px;
    position: relative;
    left: 145px;
}
.scrpanel{
	width: 138px;
}
#goal{
	font-size: 30px;
    font-weight: 600;
}
#score{
	font-size: 30px;
    font-weight: 600;
}